body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #e4e4e4;
  border-width: 5px;
  width: 4%;
}

h1 {
  color: #66BFBF;
  font-style: italic;
}

h3 {
  color: #66BFBF;
  font-style: oblique;
}
